{% extends 'quotes/navbar.html' %}
{% load static %}
{% block content %}
<br />

<div class='row'>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img1.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img2.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img3.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img5.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
</div>
<br /><br />
<div class='row'>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img9.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img6.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img7.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img8.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
</div>
<br /><br />

<div class='row'>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img10.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img11.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img14.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img13.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
</div>

<br />
<br />

<div class='row'>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img15.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img16.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img19.png' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img18a.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
</div>

<br /><br />
<div class='row'>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img20.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img21.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img22.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img23.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
</div>

<br /><br />
<div class='row'>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img24a.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img25a.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img26.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img27.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
</div>

<br /><br />
<div class='row'>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img28.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img29.png' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img30.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img31.png' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
</div>

<br /><br />
<div class='row'>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img32.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img33.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img34.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img35.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
</div>

<br /><br />
<div class='row'>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img36.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img37.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img38.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img39.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
</div>

<br /><br />
<div class='row'>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img40.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img41.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img42.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img43.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
</div>

<br /><br />
<div class='row'>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img44.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img45.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img46.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img47.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
</div>

<br /><br />
<div class='row'>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img48.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img49.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img50.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img51.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
</div>
<br /><br />
<div class='row'>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img52.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img53.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img54.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img55.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
</div>

<br /><br />
<div class='row'>
	<div class='col-sm-12 col-md-4 col-lg-3'>
	<img src="{%static 'img/img56.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	</div>
</div>

{% endblock %}