{% extends 'quotes/navbar.html' %}
{% load static %}
{% block content %}
<br />

<div class='row'>
	<div class=' col-md-12 col-lg-3 card'>
	<img src="{%static 'fmab/fmab1.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	<div class="card-body">
	<p class="lead">FMAB</p>
	</div></div>
	<div class=' col-md-12 col-lg-3 card'>
	<img src="{%static 'fmab/fmab2.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	<div class="card-body">
	<p class="lead">FMAB</p>
	</div></div>
	<div class=' col-md-12 col-lg-3 card'>
	<img src="{%static 'fmab/fmab5.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	<div class="card-body">
	<p class="lead">FMAB</p>
	</div></div>
	<div class=' col-md-12 col-lg-3 card'>
	<img src="{%static 'fmab/fmab4.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	<div class="card-body">
	<p class="lead">FMAB</p>
	</div></div>
</div>
<br /><br />
<div class='row'>
	<div class=' col-md-12 col-lg-3 card'>
	<img src="{%static 'deathnote/dn5.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	<div class="card-body">
	<p class="lead">Death Note</p>
	</div></div>
	<div class=' col-md-12 col-lg-3 card'>
	<img src="{%static 'deathnote/dn2.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	<div class="card-body">
	<p class="lead">Death Note</p>
	</div></div>
	<div class=' col-md-12 col-lg-3 card'>
	<img src="{%static 'deathnote/dn3.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	<div class="card-body">
	<p class="lead">Death Note</p>
	</div></div>
	<div class=' col-md-12 col-lg-3 card'>
	<img src="{%static 'deathnote/dn4.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	<div class="card-body">
	<p class="lead">Death Note</p>
	</div></div>
</div>
<br /><br />

<div class='row'>
	<div class=' col-md-12 col-lg-3 card'>
	<img src="{%static 'hxh/hxh1.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	<div class="card-body">
	<p class="lead">Hunter x Hunter</p>
	</div></div>
	<div class=' col-md-12 col-lg-3 card'>
	<img src="{%static 'hxh/hxh2.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	<div class="card-body">
	<p class="lead">Hunter x Hunter</p>
	</div></div>
	<div class=' col-md-12 col-lg-3 card'>
	<img src="{%static 'hxh/hxh3.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	<div class="card-body">
	<p class="lead">Hunter x Hunter</p>
	</div></div>
	<div class=' col-md-12 col-lg-3 card'>
	<img src="{%static 'hxh/hxh4.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	<div class="card-body">
	<p class="lead">Hunter x Hunter</p>
	</div></div>
</div>

<br />
<br />

<div class='row'>
	<div class=' col-md-12 col-lg-3 card'>
	<img src="{%static 'steinsgate/sn1.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	<div class="card-body">
	<p class="lead">Steins;gate</p>
	</div></div>
	<div class=' col-md-12 col-lg-3 card'>
	<img src="{%static 'steinsgate/sn2.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	<div class="card-body">
	<p class="lead">Steins;gate</p>
	</div></div>
	<div class=' col-md-12 col-lg-3 card'>
	<img src="{%static 'steinsgate/sn5.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	<div class="card-body">
	<p class="lead">Steins;gate</p>
	</div></div>
	<div class=' col-md-12 col-lg-3 card'>
	<img src="{%static 'steinsgate/sn4.jpg' %}" class='img-fluid img-thumbnail card-img-top' >
	<div class="card-body">
	<p class="lead">Steins;gate</p>
	</div></div>
</div>

{% endblock %}